/* html {
  background-image: url('../images/gummy-bear-background.jpg');
  background-size: cover;
} */

:root {
  --heading-font: 'Montserrat', sans-serif;
  --normal-font: 'Open Sans', sans-serif;
  --font-color: rgb(17, 17, 17);
  --bg-color-dark: rgb(246, 246, 248);
  --bg-color-light: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
}

#content {
  width: min(100%, 1440px);
  /* background-color: beige; */
  /* background-color: rgba(255, 183, 76, 0.5); */
  /* filter: blur(10px); */
  backdrop-filter: blur(8px);
  /* height: 100vh; */
  /* padding: 2rem; */
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

header h1 {
  font-weight: 600;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* width: 50%; */
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around;
    margin-right: 22px; */
}

nav li {
  font-family: var(--heading-font);
  font-weight: 600;
  /* display: flex;
    flex-direction: row; */
  cursor: pointer;
  list-style-type: none;
  /* margin-right: 22px; */
  /* transition-duration: 200ms; */
  transition: all 0.3s ease-out;
  text-decoration: underline;
}

nav li:not(:last-of-type) {
  margin-right: 1.5rem;
}

nav li:hover {
  /* color: white; */
  scale: 1.08;
  /* transform: translateY(-4px); */
  /* text-shadow: 0px 6px 0px rgba(0, 0, 0, 0.2); */
  /* text-decoration: underline; */
  text-decoration-color: rgb(210, 134, 72);
}

main {
  padding: 2rem;
  background-color: var(--bg-color-dark);
}

.home-main,
.menu-main,
.contact-main {
  display: flex;
  height: 100vh;
  gap: 2rem;
}

.menu-main {
  justify-content: center;
  gap: 8rem;
}

.contact-main {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.main-dish-container,
.drink-container {
  width: min(600px, 100%);
}

.image-container {
  max-width: 50%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
.intro-heading {
  font-size: 3rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.1;
  word-wrap: break-word;
}

.intro-message {
  margin: 3rem 0;
  font-family: var(--normal-font);
  line-height: 1.5;
}

.intro-heading,
.intro-message {
  /* font-family: ; */
  max-width: 45ch;
  width: min(45ch, 100%);
  text-align: center;
}

/* .intro-heading {
  max-width: 70%;
} */

/* main section {
  max-width: 50ch;
} */

.intro-container a {
  background-color: var(--font-color);
  border-radius: 30px;
  color: var(--bg-color-light);
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-out;
  font-family: var(--normal-font);
  font-weight: 600;
}
.intro-container a:hover {
  background-color: var(--bg-color-dark);
  outline: solid 2px var(--font-color);
  color: var(--font-color);
  cursor: pointer;
  /* padding: calc(1rem - 1px) calc(3rem - 1px); */
  /* border-radius: 30px;
  padding: 1rem 3rem;
  font-family: var(--normal-font);
  font-weight: 600; */
}

.menu-main h2 {
  font-family: var(--heading-font);
}

.menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color-light);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 3rem 0;
  max-height: 85px;
  padding: 1rem;
  transition: all 0.3s ease-out;
  /* outline: solid red 1px; */
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

/* .menu-item::after {
  content: '▼';
  position: absolute;
  right: 1rem;
  bottom: 3px;
} */

.menu-item::after {
  content: '▼';
  position: absolute;
  right: 1rem;
  bottom: 3px;
  transition: all 0.3s linear;
  /* transform: rotate(90deg); */
}

.menu-item.expand {
  /* background-color: lime; */
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);

  max-height: 200px;
  /* transition: all 0.3s ease-out; */
}

.menu-item.expand::after {
  /* content: '▲'; */
  transform: rotate(180deg);
  /* transition: all 1.3s linear; */
  position: absolute;
  right: 1rem;
  bottom: 3px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

.menu-item .desc {
  font-family: var(--normal-font);
  font-style: italic;
  line-height: 25px;
  padding-right: 16px;
}

.contact-info-container {
  display: flex;
  gap: 2rem;
}

.contact-info-container div {
  text-align: center;
  flex: 1;
  font-family: var(--normal-font);
  /* font-size: 1.125rem; */
  line-height: 1.6;
  /* width: 100%; */
}

.contact-info-container p:first-of-type {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .menu-main {
    flex-wrap: wrap;
  }

  .contact-info-container {
    flex-wrap: wrap;
  }

  .contact-info-container div {
    min-width: calc(100% / 3);
  }
}

@media only screen and (max-width: 425px) {
  .home-main {
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
  }

  header h1 {
    font-size: 11vw;
  }

  .image-container {
    max-width: 100%;
    order: 2;
  }

  .contact-info-container {
    flex-wrap: wrap;
  }

  .contact-info-container div {
    min-width: 100%;
  }

  /* .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  } */
}
