:root {
  --heading-font: 'Montserrat', sans-serif;
  --normal-font: 'Open Sans', sans-serif;
  --font-color: rgb(17, 17, 17);
  --bg-color-dark: rgb(246, 246, 248);
  --bg-color-light: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
}

#content {
  width: min(100%, 1440px);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

header h1 {
  font-weight: 600;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav li {
  font-family: var(--heading-font);
  font-weight: 600;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease-out;
  text-decoration: underline;
}

nav li:not(:last-of-type) {
  margin-right: 1.5rem;
}

nav li:hover {
  scale: 1.08;
  text-decoration-color: rgb(210, 134, 72);
}

main {
  padding: 6rem 2rem 0;
  background-color: var(--bg-color-dark);
}

.home-main,
.menu-main,
.contact-main {
  display: flex;
  height: 100vh;
}

.home-main {
  gap: 2rem;
}

.menu-main {
  justify-content: center;
  gap: 8rem;
}

.contact-main {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.main-dish-container,
.drink-container {
  width: min(600px, 100%);
}

.image-container {
  width: clamp(300px, 50%, 500px);
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
.intro-heading {
  font-size: 3rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.1;
  word-wrap: break-word;
}

.intro-message {
  margin: 3rem 0;
  font-family: var(--normal-font);
  line-height: 1.5;
}

.intro-heading,
.intro-message {
  max-width: 45ch;
  width: min(45ch, 100%);
  text-align: center;
}

.intro-container a {
  background-color: var(--font-color);
  border-radius: 30px;
  color: var(--bg-color-light);
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-out;
  font-family: var(--normal-font);
  font-weight: 600;
}
.intro-container a:hover {
  background-color: var(--bg-color-dark);
  outline: solid 2px var(--font-color);
  color: var(--font-color);
  cursor: pointer;
}

.menu-main h2 {
  font-family: var(--heading-font);
}

.menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color-light);
  border: 5px ridge rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 3rem 0;
  max-height: 90px;
  padding: 1rem;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.menu-item:first-of-type {
  margin-top: 1.5rem;
}

.menu-item:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.menu-item::after {
  content: '▼';
  position: absolute;
  right: 1rem;
  bottom: 3px;
  transition: all 0.3s linear;
}

.menu-item.expand {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  max-height: 250px;
}

.menu-item.expand::after {
  transform: rotate(180deg);
  position: absolute;
  right: 1rem;
  bottom: 3px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

.menu-item .desc {
  font-family: var(--normal-font);
  font-style: italic;
  line-height: 25px;
  padding-right: 16px;
}

form {
  font-family: var(--normal-font);
  width: min(80%, 600px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

fieldset {
  display: flex;
  border: 0;
  padding: 0;
  gap: 2rem;
}

fieldset > div {
  width: 50%;
}

input {
  border: solid 1px rgb(179, 179, 179);
  border-radius: 30px;
  padding: 10px 12px;
  width: 100%;
}

input:focus {
  outline: solid 1px;
}

button {
  color: rgb(255, 255, 255);
  background-color: var(--font-color);
  border: none;
  border-radius: 30px;
  font-family: var(--normal-font);
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: rgba(17, 17, 17, 0.8);
  cursor: pointer;
}

.contact-info-container {
  display: flex;
  gap: 2rem;
}

.contact-info-container div {
  text-align: center;
  flex: 1;
  font-family: var(--normal-font);
  line-height: 1.6;
}

.contact-info-container h3 {
  font-size: 1.5rem;
}

.contact-info-container p:first-of-type {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .home-main {
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
  }

  .image-container {
    order: 2;
  }

  .menu-main {
    flex-wrap: wrap;
  }

  .contact-info-container {
    flex-wrap: wrap;
  }

  .contact-info-container div {
    min-width: calc(100% / 3);
  }

  fieldset {
    flex-wrap: wrap;
  }

  fieldset > div {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  header h1 {
    font-size: 11vw;
  }

  .contact-info-container {
    flex-wrap: wrap;
  }

  .contact-info-container div {
    min-width: 100%;
  }

  form {
    width: 100%;
  }
}
